<div id="modalAccountSelection" class="modal">
    <form action="/movements" method="post">
        <div class="modal-content">
            <div class="row black-text">
                <h5>Seleccione las cuentas que desea visualizar</h5>
            </div>
        </div>
        <div class="row" style="padding-right: 20px; padding-left: 20px;">         
            <div class="input-field col s11">
                <select multiple id="accountSelect"></select>
                <label>Seleccione una o más cuentas <span class="red-text">*</span></label>
                <input type="hidden" name="accountId" id="accountId" />
            </div>

            <input type="hidden" name="clientId" id="modalClientId" value="" />
            <input type="hidden" name="periodId" id="modalPeriodId" value="" />

        </div>
       
        <div class="modal-footer">
            <button class="modal-close waves-effect waves-green btn tile" type="submit" value="SUBMIT">Aceptar</button>
            <a class="modal-close waves-effect waves-red btn red" style="margin-left: 10px; margin-right: 20px;">Cancelar</a>
        </div>
    </form>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById('accountSelect').addEventListener('change', (event) => {
            $('#accountId').val($('#accountSelect').val());
        });
    });
</script>
 

