<div id="modalMovementDetails" class="modal" style="width: 50% !important;">

    <div class="modal-content" >
        <div class="row">
            <h5>Detalle de movimiento</h5>
        </div>
            
        <div class="row" style="margin-top: 20px; height: 500px !important; overflow-y: auto !important;" >
            <div class="col s12">
                <table id="tableMovementsDetails" class="table centered_table" style="width: 90% !important;">
                    <thead>
                        <tr>
                            <th style="width: 35%;">Campo</th>
                            <th style="width: 65%;">Detalle</th>
                        </tr>
                    </thead>
                    <tbody id="tb">
                    </tbody>
                </table>
            </div>
        </div>

        <div class="modal-footer">
            <a class="modal-close waves-effect waves-red btn red" style="margin-left: 10px; margin-right: 20px;">Volver</a>
        </div>

    </div>

</div>


