<div id="modalEditImputation" class="modal">
    <form action="/accountingImputations/edit" method="post">
        <div class="modal-content">
            <div class="row black-text">
                <h5>Editar el nombre de la imputacion contable</h5>
            </div>
            <div class="row">         
                <div class="input-field col s12">
                    <i class="material-icons prefix grey-text">description</i>
                    <input id="modalEditImputationName" name="imputationAccountName" type="text" class="validate" required placeholder="Ingrese el nuevo nombre de la imputación contable"/>
                    <label for="modalEditImputationName">Nombre del nuevo grupo</label>
                    <input type="hidden" id="modalEditImputationId" name="accountingImputationId" value="" />
                </div>
            </div>
        </div>
       
        <div class="modal-footer">
            <button class="modal-close waves-effect waves-green btn tile" type="submit" value="SUBMIT">Aceptar</button>
            <a class="modal-close waves-effect waves-red btn red" style="margin-left: 10px; margin-right: 20px;">Cancelar</a>
        </div>
    </form>
</div>

