<% if (locals.menu === 'incomes') { %>
<a href="#!" class="breadcrumb">Ingresos</a>
<a href="#!" class="breadcrumb">Listado de Cobranzas</a>
<%}%>

<% if (locals.menu === 'clients') { %>
<a href="#!" class="breadcrumb">Clientes</a>
<%}%>

<% if (locals.menu === 'periods') { %>
<a href="#!" class="breadcrumb">Periodos</a>
<%}%>

<% if (locals.menu === 'homeOwners') { %>
<a href="#!" class="breadcrumb">Propietarios</a>
<%}%>