        <footer class="page-footer grey darken-1">
            <div class="row s12">
                <div class="col s6 center-align">
                    <a class="grey-text text-lighten-4" href="#!">AAII Administraciones Integrales</a>
                </div>
                <div class="col s6 center-align">
                    <a class="grey-text text-lighten-4" href="#!">Kyanite Tools Powered by DTronix
                </div>                
            </div>
        </footer>
    </body>
</html> 

