<script>
    var pendingNotifications = {};
</script>
<nav>
    <div class="nav-wrapper grey darken-4">
        <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>

        <ul class="left" id="ul_header_buttons">
            <li id="li_home">
                <a href="/"><i class="material-icons tooltipped" data-position="bottom" data-delay="50"
                        data-tooltip="Inicio">home</i></a>
            </li>
            <li id="li_incomes">
                <a href="/incomes"><i class="material-icons tooltipped" data-position="bottom" data-delay="50"
                        data-tooltip="Ingresos">monetization_on</i>
                </a>
            </li>
            <li id="li_expenses">
                <a href="/expenses/paymentReceipts"><i class="material-icons tooltipped" data-position="bottom"
                        data-delay="50" data-tooltip="Egresos">receipt</i>
                </a>
            </li>
            <li id="li_accounts_banks">
                <a href="/accountsandbanks"><i class="material-icons tooltipped" data-position="bottom" data-delay="50"
                        data-tooltip="Cajas y Bancos">account_balance</i></a>
            </li>
            <li id="li_periods">
                <a href="/periods"><i class="material-icons tooltipped" data-position="bottom" data-delay="50"
                        data-tooltip="Periodos">event</i></a>
            </li>
            <li id="li_clients">
                <a href="/clients"><i class="material-icons tooltipped" data-position="bottom" data-delay="50"
                        data-tooltip="Clientes">business</i></a>
            </li>
            <li id="li_homeowners">
                <a href="/homeowners"><i class="material-icons tooltipped" data-position="bottom" data-delay="50"
                        data-tooltip="Propietarios">people</i></a>
            </li>
            <li id="li_suppliers">
                <a href="/suppliers"><i class="material-icons tooltipped" data-position="bottom" data-delay="50"
                        data-tooltip="Proveedores">store</i></a>
            </li>
            <li>
                <a href="/settings"><i class="material-icons tooltipped" data-position="bottom" data-delay="50"
                        data-tooltip="settings">more_vert</i></a>
            </li>
        </ul>

        <!-- BREADCRUMBS -->

        <%- include ("breadcrumbs.ejs") %>

        <!-- Notifications and User area -->

        <ul class="right">
            <li id="notifications" style="visibility: hidden;">
                <a href="/notifications/show/<%=locals.user.id%>"><i class="material-icons tiny left amber-text"
                        data-position="bottom" data-delay="50"
                        data-tooltip="Alertas Pendientes">notification_important</i></a>
            </li>
            <li>
                <span style="margin-right: 20px;"><i class="material-icons tiny left">account_circle</i>
                    <% if (locals.user) { %> <%=locals.user.name%> <% } %> </span>
            </li>
            <li>
                <a href="/auth/logout" onclick="notificationsTimerStop();"><i class="material-icons tooltipped"
                        data-position="bottom" data-delay="50" data-tooltip="log out">exit_to_app</i></a>
            </li>
        </ul>
    </div>
</nav>

<script>
    var userid = htmlDecode("<%= locals.user.id %>");

    document.addEventListener("DOMContentLoaded", function () {

        //checkNotifications();

        notificationsTimerStart();
    });

</script>