<%if(locals.warning && warning.length > 0){%>
<div id="materialertWarning" class="materialert warning close-alert">
    <div class="material-icons">info_outline</div>
    <button id="btnAlertClose" type="button" class="close-alert">×</button>
    <%=warning%>
</div>
<script>
    document.getElementById("btnAlertClose").onclick = function (e) {
        document.getElementById(e.target.parentNode.id).remove();
    }
</script>
<%}%>

<%if(locals.error && error.length > 0){%>
<div id="materialertError" class="materialert error">
    <div class="material-icons">info_outline</div><%=error%>
    <button id="btnAlertClose" type="button" class="close-alert">×</button>
</div>
<script>
    document.getElementById("btnAlertClose").onclick = function (e) {
        document.getElementById(e.target.parentNode.id).remove();
    }
</script>
<%}%>

<%if(locals.success && success.length > 0){%>
<div id="materialertSuccess" class="materialert success">
    <div class="material-icons">info_outline</div><%=success%>
    <button id="btnAlertClose" type="button" class="close-alert">×</button>
</div>
<script>
    document.getElementById("btnAlertClose").onclick = function (e) {
        document.getElementById(e.target.parentNode.id).remove();
    }
</script>
<%}%>