<% if (locals.menu === 'incomes') { %>
<a href="#!" class="breadcrumb">Ingresos</a>
<a href="#!" class="breadcrumb">Listado de Cobranzas</a>
<%}%>

<% if (locals.menu === 'clients') { %>
<a href="/clients" class="breadcrumb">Clientes</a>
<%}%>

<% if (locals.menu === 'periods') { %>
<a href="/periods" class="breadcrumb">Periodos</a>
<%}%>

<% if (locals.menu === 'suppliers') { %>
<a href="/suppliers" class="breadcrumb">Proveedores</a>
<%}%>

<% if (locals.menu === 'homeOwners') { %>
<a href="/homeOwners" class="breadcrumb">Propietarios</a>
<%}%>

<% if (locals.menu === 'accounts') { %>
<a href="/accounts" class="breadcrumb">Cuentas</a>
<%}%>

<% if (locals.menu === 'accountTransfers') { %>
<a href="/transfers" class="breadcrumb">Transferencias</a>
<%}%>

<% if (locals.menu === 'paymentReceipts') { %>
<a href="/expenses" class="breadcrumb">Egresos</a>
<a href="/expenses/paymentReceipts" class="breadcrumb">Comprobantes</a>
<%}%>