<footer class="page-footer grey darken-1">
    <div class="row s12">
        <div class="col s6 center-align">
            <a class="grey-text text-lighten-4" href="#!"><i class="material-icons"
                    style="vertical-align: -8px; margin-right: 5px;">copyright</i>AAII Administraciones Integrales</a>
        </div>
        <div class="col s6 center-align">
            <a class="grey-text text-lighten-4" href="#!"><i class="material-icons"
                    style="vertical-align: -8px; margin-right: 5px;">support</i>Kyanite Tool Powered by DTronix
        </div>
    </div>
</footer>

</body>

</html>