<ul id="slide-out" class="sidenav">
    <li>
        <div class="user-view">
            <div class="background"><img src="/images/background.jpg"/></div>
            
            <a><img id="avatar" class="circle" src="/images/aaii.png"/></a>
            
            <a><span class="white-text name">
                <% if (locals.user) { %> 
                    <%=user.name%> 
                <% } else { %> 
                    usuario desconocido 
                <% } %>
                </span>
            </a>
            
            <a href="#email"><span class="white-text email"><%if (locals.user) { %> <%=user.email%> <% } %></span></a>
        </div>
    </li>
    
    <li>
        <a class="subheader" href="#!"><i class="material-icons">settings</i>Ajustes</a>
    </li>
    <li>
        <a class="waves-effect" href="/settings/users"><i class="material-icons">manage_accounts</i>Usuarios y Perfiles</a>
    </li>
    <li>
        <a class="waves-effect" href="/accountingImputations/settings"><i class="material-icons">group_work</i>Grupo de Cuentas</a>
    </li>
    <li>
        <div class="divider"></div>
    </li>    
    <li>
        <a class="waves-effect" href="https://on.spiceworks.com/tickets/open"><i class="material-icons">help_center</i>Soporte</a>
    </li>
    <li>
        <div class="divider"></div>
    </li>
    <li>
        <a class="waves-effect" href="#!"><i class="material-icons">exit_to_app</i>Cerrar Sesión</a>
    </li>

   
</ul>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var elems = document.querySelectorAll(".sidenav");
        var instances = M.Sidenav.init(elems, {
            onOpenStart: getAvatar("<%=locals.user.id%>")
        });
    });

    async function getAvatar(userId) {
        
        const avatar = document.getElementById('avatar');
 
        fetch('/users/avatar')
        .then(response => response.blob())
        .then(response => {
            const blob = new Blob([response], {type: 'image/png'});
            if(blob.size > 0){
                const reader = new FileReader();
                reader.readAsDataURL(blob);
                reader.onloadend = function () {
                    const base64String = reader.result;
                    avatar.src=/*"data:image/png;base64," + */ base64String;
                };
            }
        })
        .catch(err => {console.error(err);})
    }

</script>

