<div id="modalConfirm" class="modal">
    <div class="modal-content">
        <div class="row">
            <h5>Emisión de Recibos</h5>
        </div>
        <div id="modalDeleteMessage" class="center-left"></div>
            <p>se van a imprimir los recibos para las propiedades seleccionadas<br>
               el proceso puede demorar, desea continuar ?</p>
        </div>
    <div class="modal-footer">
        <button id="modalButtonAccept" class="modal-close waves-effect waves-green btn tile">Aceptar</button>
        <a class="modal-close waves-effect waves-red btn red" style="margin-left: 10px; margin-right: 20px;">Cancelar</a>
    </div>
</div>