<script src="https://unpkg.com/@cubejs-client/core@0.10.16/dist/cubejs-client-core.umd.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>

<%- include ("partials/header") %>

<main class="site-content">

    <div class="container" id="app">
        <div class="row" style="margin-top: 30px;">
            <div class="col s12">
                <div class="col s4" style="display:inline-block">
                    <div class="row card">
                        <div class="card-content">
                            <span class="card-title">Total de Clientes</span>
                            <h4 id="total-clients" class="center-align">
                            </h4>
                        </div>
                    </div>
                    <div class="row card">
                        <div class="card-content">
                            <span class="card-title">Total de Proveedores</span>
                            <h4 id="total-suppliers" class="center-align">
                            </h4>
                        </div>
                    </div>
                    <div class="row card">
                        <div class="card-content">
                            <span class="card-title">Total de Usuarios</span>
                            <h4 id="total-users" class="center-align">
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col s8" style="display:inline-block">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">Facturas por cliente</span>
                            <canvas id="bar-chart1"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Periodos de Liquidacion</span>
                        <canvas id="bar-chart2"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script>

    // TESTER = document.getElementById('tester');

    // Plotly.newPlot(TESTER, [{
    //     x: [1, 2, 3, 4, 5],
    //     y: [1, 2, 4, 8, 16]
    // }], {
    //     margin: { t: 0 }
    // });

    // const API_URL = "http://localhost:3000"; // change to your actual endpoint

    // const cubejsApi = cubejs(
    //     "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE1OTk2ODcxODIsImV4cCI6MTU5OTc3MzU4Mn0.KeVfdSYYsP1fJrPPSuQcLK_K6tY05KkYZlukJXvhEV0",
    //     { apiUrl: API_URL + "/cubejs-api/v1" }
    // );

    // var kpis = [
    //     { measure: "Users.count", element: "total-users" },
    //     { measure: "Suppliers.count", element: "total-suppliers" },
    //     { measure: "Clients.count", element: "total-clients" }
    // ];
    // kpis.forEach(kpi => {
    //     cubejsApi.load({
    //         measures: [kpi.measure]
    //     }).then(resultSet => {
    //         document.getElementById(kpi.element).textContent =
    //             numeral(resultSet.totalRow()[kpi.measure]).format('0,0');
    //     })
    // });

    // var chartJsData = function (resultSet) {
    //     return {
    //         datasets: [{
    //             data: resultSet.series()[0].series.map(function (r) { return r.value }),
    //             backgroundColor: resultSet.series()[0].series.map(function (r) { return getRandomColor() }),
    //         }],
    //         labels: resultSet.categories().map(function (c) { return c.category })
    //     }
    // }

    // function getRandomColor() {
    //     var letters = '0123456789ABCDEF'.split('');
    //     var color = '#';
    //     for (var i = 0; i < 6; i++) {
    //         color += letters[Math.floor(Math.random() * 16)];
    //     }
    //     return color;
    // }

    // cubejsApi.load({
    //     "measures": [
    //         "PaymentReceipts.count"
    //     ],
    //     "timeDimensions": [
    //         {
    //             "dimension": "BillingPeriods.startdate",
    //             "dateRange": "This month"
    //         }
    //     ],
    //     "order": {},
    //     "dimensions": [
    //         "Clients.name",
    //         "BillingPeriods.name"
    //     ],
    //     "filters": []
    // }).then(resultSet => {
    //     new Chart(document.getElementById("bar-chart1"), {
    //         type: 'pie',
    //         data: chartJsData(resultSet),
    //         options: {
    //             legend: { display: false },
    //         },
    //         x: [],
    //         y: [],
    //         fillMissingDates: true,
    //         joinDateRange: false
    //     })
    // });

    // cubejsApi.load({
    //     "measures": [
    //         "BillingPeriods.count"
    //     ],
    //     "timeDimensions": [],
    //     "order": {},
    //     "dimensions": [
    //         "Clients.internalcode"
    //     ],
    //     "filters": []
    // }).then(resultSet => {
    //     new Chart(document.getElementById("bar-chart2"), {
    //         type: 'horizontalBar',
    //         data: chartJsData(resultSet),
    //         options: {
    //             legend: { display: false },
    //         },
    //         x: ["measures"],
    //         y: [],
    //         fillMissingDates: true,
    //         joinDateRange: false
    //     })
    // });

</script>