<style>
    table {
        margin-left: auto;
        margin-right: auto;
    }
</style>

<div class="card">
    <div class="card-content">
        <span class="card-title">Conceptos</span>

        <div class="row" style="margin-top: 20px;">
            <div class="col s12">
                <table id="tableConcepts" class="table centered_table" style="width: 90% !important;">
                    <thead>
                        <tr>
                            <th style="width: 15%;" data-id="type">Tipo</th>
                            <th style="width: 45%;" data-id="concept">Concepto</th>
                            <th style="width: 30%;" data-id="ammount">Importe</th>
                            <th style="width: 10%; text-align:center">Remover</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 right-align" style="padding-right: 100px;">
                <h6 id="totalConcepts">Importe Total: $0.00</h6>
                <input type="hidden" name="ammountConcepts" id="ammountConcepts" />

            </div>
        </div>
    </div>

    <div class="card-action">
        <div class="row" style="margin-left: 30px;">
            <div class="input-field col s3">
                <select id="conceptsSelect" class="required">
                    <option value="" disabled selected>Seleccione un concepto</option>
                    <option value="EC">Expensas comunes</option>
                    <option value="EE">Expensas extraordinarias</option>
                    <option value="CE">A cuenta de expensas</option>
                    <option value="OT">Otros</option>
                </select>
                <label>Concepto</label>               
            </div>
            <div class="input-field col s2">
                <input id="conceptAmmount" type="number" min="0.00" step="0.01" class="validate" value="0.00" required />
                <label for="conceptAmmount">Importe</label>
            </div>
            <div class="input-field col s1 center-align">
                <button id="buttonConcept" class="waves-effect waves-light btn-floating btn-large teal" onclick="addNewConcept()" ; style="margin-right: 10px;">
                    <i class="material-icons right">playlist_add</i>Agregar</button>
            </div>
        </div>
    </div>
</div>

<script>

    var totalConcepts = 0;

    function addNewConcept() {

        const conceptSelect = document.getElementById('conceptsSelect');
        const conceptId = conceptSelect.value;

        if (conceptId === '') { alert("No selecciono ningun tipo de concepto"); return; };

        const conceptComment = conceptSelect.options[conceptSelect.selectedIndex].text;
        const conceptAmmount = document.getElementById('conceptAmmount').value;
        totalConcepts += addConceptRow(conceptId, conceptComment, conceptAmmount);
        updateTotalConcepts();

        conceptsSelect.selectedIndex = 0;
        M.FormSelect.init(conceptsSelect, {});

        document.getElementById('conceptAmmount').value = "0.00";
    }

    function updateTotalConcepts() {
        document.getElementById('totalConcepts').textContent = 'Importe Total: ' + formatter.format(totalConcepts);
        document.getElementById('ammountConcepts').value = totalConcepts;
    }

    function addConceptRow(id, comment, value) {

        var tableRef = document.getElementById('tableConcepts').getElementsByTagName('tbody')[0];

        var newRow = tableRef.insertRow(-1);

        newRow.insertCell(0).appendChild(document.createTextNode(id));
        newRow.insertCell(1).appendChild(document.createTextNode(comment));

        const conceptAmmount = formatter.format(value).replace(",", "");

        newRow.insertCell(2).appendChild(document.createTextNode(conceptAmmount));
        newRow.insertCell(3).innerHTML = '<a id="buttonDelete" class="btn-flat btn-small waves-effect waves-light" ' + 
                                        'style="display: block; margin: auto;" data-id="' + newRow.rowIndex + '" ' +
                                        'onClick=deleteConceptItem(this)><i class="material-icons">delete</i></a>'
        return parseFloat(value);
    }

    function deleteConceptItem(button) {
        var row = button.closest("TR");
        totalConcepts -= parseInt(row.cells[2].textContent.replace(/[$,]/g, ''))
        var tableRef = document.getElementById('tableConcepts');
        tableRef.deleteRow(row.rowIndex);
        updateTotalConcepts();
    }
</script>