<%- include ("../../partials/header") %>

<main class="site-content">

    <center>
        <%- include ("../../partials/alerts") %>
    </center>

    <form method="POST" action='/incomes/collections'>
        <%- include ("../../partials/clientsPeriodSelector") %>
    </form>
   
</main>

<!-- <script>
    document.addEventListener("DOMContentLoaded", function () {
        populateClients("clientsSelect");
    });
</script> -->

<%- include ("../../partials/footer") %>