<style>
    table {
        margin-left: auto;
        margin-right: auto;
    }
</style>

<div class="card">
    <div class="card-content">
        <span class="card-title">Valores</span>

        <div class="row" style="margin-top: 20px;">
            <div class="col s12">
                <table id="tableValues" class="table centered_table" style="width: 90% !important;">
                    <thead>
                        <tr>
                            <th style="width: 15%;" data-id="type">Tipo</th>
                            <th style="width: 20%;" data-id="value">Valor</th>
                            <th style="width: 40%;" data-id="comment">Detalle</th>
                            <th style="width: 5%;"  data-id="valueId">Id</th>
                            <th style="width: 10%;" data-id="amount">Importe</th>
                            <th style="width: 10%; text-align:center">Remover</th>
                        </tr>
                    </thead>

                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 right-align" style="padding-right: 100px;">
                <h6 id="totalValues">Importe Total: $0.00</h6>
                <input type="hidden" name="amountSecurities" id="amountSecurities" />                
            </div>
        </div>
    </div>
    <div class="card-action">
        <div class="row" style="margin-left: 30px;">
            <div class="input-field col s3">
                <select id="valueSelect" class="required">
                    <option value="" disabled selected>Seleccione un tipo de valor</option>
                    <option value="EF">Efectivo</option>
                    <option value="DC">Deposito en Cuenta</option>
                    <option value="CH">Cheque</option>
                </select>
                <label>Tipo de Valor</label>
            </div>
            <div id="auxiliarSelectDiv" class="input-field col s6" hidden>
                <select id="auxiliarSelect" disabled>
                    <option value="" disabled selected>Seleccione una opcion</option>
                    <option value="EF">Efectivo</option>
                    <option value="DC">Deposito en Cuenta</option>
                    <option value="CH">Cheque</option>
                </select>
                <label>Seleccione la cuenta o cheque si aplica</label>
            </div>
            <div id="valueamountDiv" class="input-field col s2">
                <input id="valueamount" type="number" min="0.00" step="0.01" class="validate" value="0.00" required />
                <label for="valueamount">Importe</label>
            </div>
            <div class="input-field col s1 center-align">
                <button id="buttonValues" class="waves-effect waves-light btn-floating btn-large teal" onclick="addNewValueType()" ; style="margin-right: 10px;">
                    <i class="material-icons right">playlist_add</i>Agregar</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/javascripts/accounts.js"></script>
<script type="text/javascript" src="/javascripts/splittedChecks.js"></script>

<script>

    var totalValues = 0; var selAccount = null; var selCheck = null;

    var valuesArray = [];

    document.addEventListener("DOMContentLoaded", function () {

        document.getElementById("valueSelect").addEventListener('change', (event) => {

            const valueamount = document.getElementById('valueamount');
            valueamount.readOnly = false;
            valueamount.value="0.00";

            auxSelect = document.getElementById('auxiliarSelect');
            auxSelectDiv = document.getElementById('auxiliarSelectDiv');
            valueamountDiv = document.getElementById('valueamountDiv');

            auxSelectDiv.hidden = true;
            
            if (auxSelectDiv.classList.contains('s6') === false) {
                auxiliarSelectDiv.classList.add('s6');
            };
            
            if (auxSelectDiv.classList.contains('s8')) {
                auxiliarSelectDiv.classList.remove('s8');
            };
                     
            switch (event.target.value) {
                case "EF": {
                    valueamountDiv.hidden = false;
                    auxSelect.disabled = true;
                    auxSelect.hidden = true;
                    auxSelect.innerHTML = "<option value=\"\" selected disabled>" + "Seleccione la cuenta o cheque si aplica" + "</option>"
                    auxSelect.selectedIndex = 0;
                    M.FormSelect.init(auxSelect, {});
                } break;

                case "DC": {
                    selAccount = null;
                    valueamountDiv.hidden = false;
                    auxSelectDiv.hidden = false;
                    auxSelect.disabled = false;
                    
                    getDepositAccounts(htmlDecode("<%=data.client.id%>"), "auxiliarSelect");
                } break;

                case "CH": {
                    selCheck = null;
                    valueamountDiv.hidden = true;
                    
                    auxiliarSelectDiv.classList.remove('s6');
                    auxiliarSelectDiv.classList.add('s8');
                    auxSelectDiv.hidden = false;

                    auxSelect.disabled = false;
                    
                    homeOwnerId = document.getElementById('homeOwnerId').value;
                    if (homeOwnerId === '') { alert("Para poder listar los cheques disponibles primero debe seleccionar a un propietario o propiedad"); return }
                    
                    valueamount.readOnly = true;

                    getSplittedChecks(homeOwnerId, "auxiliarSelect");
                } break;
            };
        });

        document.getElementById("auxiliarSelect").addEventListener('change', async (event) => {
    
            const valueTypeId = document.getElementById('valueSelect').value;
            
            switch(valueTypeId) {
            
                case 'DC': { 
                    selAccount = await getClientAccountsInfo(event.target.value); 
                } 
                break;
            
                case 'CH': {
                    selCheck = await getSplittedCheckInfo(event.target.value);
                
                    const valueamount = document.getElementById('valueamount');
                    valueamount.readOnly = false;
                    valueamount.value = selCheck.amount;
                } 
                break;
            };
        });
    });

    async function addNewValueType() {

        const valueSelect = document.getElementById('valueSelect')
        const valueTypeId = valueSelect.value;
        const valueComment = valueSelect.options[valueSelect.selectedIndex].text;
        const valueamount = document.getElementById('valueamount').value;

        switch (valueTypeId) {
            case "EF": {
                
                const account = await getClientAccounts(htmlDecode("<%=data.client.id%>"),'CMN');
                
                if(account.length!=1){
                    alert(`Se encontraron ${account.length} cuentas de tipo CNM, imposible continuar`); return;
                }
                
                totalValues += addValueTypeRow(valueTypeId, valueComment, valueamount, account[0].id, account[0].accountType.description);

            } break;

            case "DC": {

                const auxSelect = document.getElementById('auxiliarSelect')
                const auxSelectId = auxSelect.value;
                const auxSelectDesc = auxSelect.options[auxSelect.selectedIndex].text;

                // const auxSelectId = document.getElementById("auxSelectId").value;
                // const auxSelectDesc = document.getElementById("auxSelectDesc").value;

                totalValues += addValueTypeRow(valueTypeId, valueComment, valueamount, auxSelectId, auxSelectDesc);

                selAccount = null;

            } break;

            case "CH": {
                
                const auxSelect = document.getElementById('auxiliarSelect')
                const auxSelectId = auxSelect.value;
                const auxSelectDesc = auxSelect.options[auxSelect.selectedIndex].text;

                // const auxSelectId = document.getElementById("auxSelectId").value;
                // const auxSelectDesc = document.getElementById("auxSelectDesc").value;

                totalValues += addValueTypeRow(valueTypeId, valueComment, valueamount, auxSelectId, auxSelectDesc);

                selCheck = null;

            } break;

            default: { alert("No selecciono ningun tipo de valor válido"); return; };
        };

        updateTotalValues();

        valueSelect.selectedIndex = 0;
        M.FormSelect.init(valueSelect, {});

        document.getElementById('valueamount').value = "0.00";

        auxSelect = document.getElementById('auxiliarSelect');
        auxSelectDiv = document.getElementById('auxiliarSelectDiv')

        auxSelectDiv.hidden = true;
        auxSelect.disabled = true;
        auxSelect.hidden = true;
        auxSelect.innerHTML = "<option value=\"\" selected disabled>" + "Seleccione la cuenta o cheque si aplica" + "</option>"
        auxSelect.selectedIndex = 0;
        M.FormSelect.init(auxSelect, {});
    }

    function updateTotalValues() {
        document.getElementById('totalValues').textContent = 'Importe Total: ' + formatter.format(totalValues);
        document.getElementById('amountSecurities').value = totalValues;
    }

    function addValueTypeRow(type, comment, value, id, auxiliar) {
        
        var tableRef = document.getElementById('tableValues').getElementsByTagName('tbody')[0];

        var newRow = tableRef.insertRow(-1);

        const valueamount = formatter.format(value).replace(",", "");

        newRow.insertCell(0).appendChild(document.createTextNode(type));
        newRow.insertCell(1).appendChild(document.createTextNode(comment));
        newRow.insertCell(2).appendChild(document.createTextNode(auxiliar));
        newRow.insertCell(3).appendChild(document.createTextNode(id));
        newRow.insertCell(4).appendChild(document.createTextNode(valueamount));

        newRow.insertCell(5).innerHTML = '<a id="buttonDelete" class="btn-flat btn-small waves-effect waves-light right-align" ' +
                                         'style="display: block; margin: auto;" data-id="' + newRow.rowIndex + '" ' +
                                         'onClick=deleteValueTypeItem(this)><i class="material-icons">delete</i></a>'

        return parseFloat(value);
    }

    function deleteValueTypeItem(button) {
        var row = button.closest("TR");
        totalValues -= parseInt(row.cells[2].textContent.replace(/[$,]/g, ''))
        var tableRef = document.getElementById('tableValues');
        alert(row.rowIndex + ' ' + button.dataset.id)
        tableRef.deleteRow(row.rowIndex);
        updateTotalValues();
    }

    function getDepositAccounts(clientId, fieldID) {

        let selectField = document.getElementById(fieldID);
        selectField.options.length = 0;
        selectField.innerHTML = selectField.innerHTML + "<option value=\"\" selected disabled>" + "Seleccione la cuenta" + "</option>"

        fetch('/accounts/getByCustomerID/' + clientId)
            .then(response => {
                if (response.status == 200) {
                    return response.text();
                } else {
                    throw "Respuesta incorrecta del servidor"
                }
            })
            .then(response => {
                const accounts = JSON.parse(response);
                for (i = 0; i < accounts.length; i++) {
                    if ((accounts[i].accountType.account === 'CA$') || (accounts[i].accountType.account === 'CC$')) {
                        selectField.innerHTML = selectField.innerHTML + "<option value=\"" + accounts[i].id + "\">" +
                            "[" + accounts[i].accountType.account + "] " + accounts[i].bank.name + " (" + accounts[i].accountNumber + ")" + "</option>"
                    }
                }

                M.FormSelect.init(selectField, {});
            })
            .catch(err => {
                console.log(err);
            });
    }

    function getSplittedChecks(homeOwnerId, fieldID) {

        let selectField = document.getElementById(fieldID);
        selectField.options.length = 0;
        selectField.innerHTML = selectField.innerHTML + "<option value=\"\" selected disabled>" + "Seleccione el cheque" + "</option>"

        fetch('/checks/split/collections/' + homeOwnerId + '?statusId=0')   //0 = pending / 1 = assigned status
            .then(response => {
                if (response.status == 200) {
                    return response.text();
                } else {
                    throw "Respuesta incorrecta del servidor"
                }
            })
            .then(response => {
                const splittedChecks = JSON.parse(response);
                for (i = 0; i < splittedChecks.length; i++) {
                    selectField.innerHTML = selectField.innerHTML + "<option value=\"" + splittedChecks[i].id + "\">" + 
                        `${splittedChecks[i].check.bank.name} (Nº ${splittedChecks[i].check.number}) $${splittedChecks[i].amount}` + "</option>"
                }
                
                M.FormSelect.init(selectField, {});
            })
            .catch(err => {
                console.log(err);
            });
    }
</script>