<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">

<head>
    <title>AAII Administraciones Integrales</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <!--Import materialize.css from my website directory stylesheets/-->
    <link type="text/css" rel="stylesheet" href="/css/materialize.css" media="screen,projection" />

    <link rel="icon" href="/public/images/favicon.ico" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Let browser know website is optimized for mobile-->
</head>

<body class="site grey lighten-3">
    <header>

        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

        <!--Import materialize.js from my website directory materialization-->
        <script type="text/javascript" src="/javascripts/materialize.js"></script>

    </header>

</body>

</html>

<main class="site-content">

    <center>
        <div class="container">

            <div class="section"></div>
            <div class="section"></div>
            <img src="/images/aaii.png" alt="AAII">
            <div class="section"></div>
            <div>
                <h5 class="center-align">Se ha cerrado la sesión exitosamente</h5>
                <h6 class="center-align">para volver a ingresar haga <a href="/login">click aquí</a></h6>
            </div>
    </center>
</main>

<%- include ("partials/footer") %>