<div id="modalAddConcept" class="modal">
    <div class="modal-content black-text">
        <div class="row">
            <h5>Nuevo Concepto</h5>
        </div>
        <p>Seleccione el concepto que desea agregar y el importe.</p>
        <div class="row">
            <div class="input-field col s7">
                <i class="material-icons prefix">home</i>
                <select id="conceptsSelect" class="required">
                    <option value="" disabled selected>Seleccione un concepto</option>
                    <option value="1">Expensas Comunes</option>
                    <option value="2">Expensas Extraordinarias</option>
                    <option value="3">Gastos Comunes</option>
                    <option value="4">Otros</option>
                </select>
                <label>Concepto</label>
                <input type="hidden" name="conceptId" id="conceptId" />
                <input type="hidden" name="conceptDesc" id="conceptDesc" />
            </div>
            <div class="input-field col s3">
                <input id="conceptAmmount" name="conceptAmmount" type="number" min="0.00" step="0.01" class="validate" value="0.00" required />
                <label for="conceptAmmount">Importe</label>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <a id="conceptsAcceptBtn" class="modal-close waves-effect waves-red btn green primary" style="margin-left: 10px; margin-right: 20px;">Aceptar</a>
        <a id="conceptsCancelBtn" class="modal-close waves-effect waves-red btn red secondary" style="margin-left: 10px; margin-right: 20px;">Cancelar</a>
    </div>
</div>

<script>
    const conceptsSelect = document.getElementById("conceptsSelect");
    conceptsSelect.addEventListener('change', (event) => {
        const conceptId = document.getElementById("conceptId");
        conceptId.value = event.target.value;
        const conceptDesc = document.getElementById("conceptDesc");
        conceptDesc.value = event.target.options[event.target.selectedIndex].text;
    });
</script>