<div id="modalAddValue" class="modal">
    <div class="modal-content black-text">
        <div class="row">
            <h5>Nuevo Valor</h5>
        </div>
        <p>Seleccione la cuenta en la cual se hizo el depósito</p>
        <div class="row">
            <div class="input-field col s7">
                <i class="material-icons prefix">home</i>
                <select id="accountSelect" class="required">
                    <option value="" disabled selected>Seleccione la cuenta</option>
                </select>
                <label>Concepto</label>
                <input type="hidden" name="accountId" id="accountId" />
                <input type="hidden" name="accountDesc" id="accountDesc" />
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <a id="AcceptBtn" class="modal-close waves-effect waves-red btn green primary" data-id="modal-account" style="margin-left: 10px; margin-right: 20px;">Aceptar</a>
        <a id="CancelBtn" class="modal-close waves-effect waves-red btn red secondary" style="margin-left: 10px; margin-right: 20px;">Cancelar</a>
    </div>
</div>

<script>
    const accountSelect = document.getElementById("accountSelect");
    accountSelect.addEventListener('change', (event) => {
        document.getElementById("conceptId") = event.target.value;
        document.getElementById("conceptDesc") = event.target.options[event.target.selectedIndex].text;
    });
</script>