<!-- Modal Structure -->
<div id="modal_delete" class="modal">
    <div class="modal-content">
        <h4>Eliminar Proveedor</h4>
        <p>Está a punto de eliminar el proveedor seleccionado y no podrá deshacer esta operación, seguro que desea
            continuar ?</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn red" style="margin-right: 10px;"
            onclick="confirm_delete();">Eliminar</a>
        <a href="#!" class="modal-close waves-effect waves-green btn" style="margin-right: 10px;">Cancelar</a>
    </div>
</div>