.sidenav {
  top: 65px;
  width: 250px;
}

.brand-logo {
  display: inline-block;
  height: 100%;
}

.brand-logo > img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em auto;
  padding: 0;
}

.modal {
  left: 0;
  right: 0;
  background-color: #fafafa;
  padding: 0;
  max-height: 40%;
  width: 35%;
  will-change: top, opacity;
}

.alternate-option {
  margin-left: 20px;
  vertical-align: baseline;
  position: relative;
  top: 8px;
}

.logout_img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.user_pic {
  max-height: 48px;
  line-height: 56px;
  vertical-align: middle;
}

.modal_privacy {
  width: 75% !important ;
  height: 75% !important ;
} /* increase the height and width as you desire */

.input-group {
  display: table;
}

.input-group input,
.suffix {
  display: table-cell;
}

.suffix {
  width: 1%;
}

.carousel {
  height: auto !important;
  min-height: 450px !important;
}

.carousel-item {
  height: auto !important;
  width: auto !important;
}

.roundtextstyle {
  text-align: center;
  background-color: #fafafa; /* Changing background color */
  font-weight: bold; /* Making font bold */
  border-radius: 10px; /* Making border radius */
  width: fit-content; /* Making auto-sizable width */
  height: auto; /* Making auto-sizable height */
  padding: 5px 30px 10px 30px; /* Making space around letters */
  font-size: 36px; /* Changing font size */
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  background-image: url(/images/main_background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

@media only screen and (min-width: 601px) {
  .container {
    width: 85%;
  }
}
@media only screen and (min-width: 993px) {
  .container {
    width: 70%;
  }
}

.box-white {
    margin:0 0 10px;    
    padding:20px;
    background-color:white;
    border:1px solid #bdbdbd;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.modal { max-height: 100%; overflow: visible}
