<div id="modalOpenPeriod" class="modal">
    <form action="/periods/open" method="post">
        <div class="modal-content">
            <div class="row">
                <h5>Confirmar la apertura del período</h5>
            </div>
            <div id="modalOpenMessage" class="center-left"></div>
            <p>Esta tarea no puede ser cancelada, esta seguro que desea continuar ?</p>
        </div>
        <input type="hidden" id="modalOpenPeriodId" name="modalPeriodId" value="" />
        <input type="hidden" id="modalOpenClientId" name="modalClientId" value="" />
        <div class="modal-footer">
            <button class="modal-close waves-effect waves-green btn tile" type="submit" value="SUBMIT">Aceptar</button>
            <a class="modal-close waves-effect waves-red btn red"
                style="margin-left: 10px; margin-right: 20px;">Cancelar</a>
        </div>
    </form>
</div>