<div id="modalUndelete" class="modal">
    <form action="/clients/undelete" method="post">
        <div class="modal-content">
            <div class="row">
                <h5>Restablecer Cliente ?</h5>
            </div>
            <div id="modalUndeleteMessage" class="center-left"></div>
            <p>Está seguro que desea continuar ?</p>
            <input type="hidden" name="clientId" id="modalUndeleteClientId" value="" />
        </div>
        <div class="modal-footer">
            <button class="modal-close waves-effect waves-green btn tile" type="submit" value="SUBMIT">Aceptar</button>
            <a class="modal-close waves-effect waves-red btn red" style="margin-left: 10px; margin-right: 20px;">Cancelar</a>
        </div>
    </form>
</div>