<%- include ("header") %>

<main class="site-content">

    <center>
        <div class="container">

            <div class="section"></div>
            <div class="section"></div>
            <img class="logout_img" src="/images/aaii.png" alt="AAII">
            <div class="section"></div>
            <div>
                <h5 class="center-align">Se ha cerrado la sesión exitosamente</h5>
                <h6 class="center-align">para volver a ingresar haga <a href="/auth/login">click aquí</a></h6>
            </div>

            <%- include ("../partials/alerts") %>

    </center>
</main>

<%- include ("../partials/footer") %>