<%- include ("../partials/header") %>
<%- include ("../partials/sidenav") %>

<main class="site-content">
    <div class="container" style="width: 100%; margin-top: 30px;">
        <!--<center>
            <div class="row" style="margin-top: 20px;">
                <h4 class="center-align roundtextstyle">Menu de Ingresos</h4>
            </div>
        </center> -->
        <!--ROW #1-->
        <div class="row">
            <div class="col s4">
                <div class="card-panel grey lighten-5 z-depth-1">
                    <div class="row valign-wrapper">
                        <div class="col s3">
                            <img src="images/PNG/listado_cobranzas.png" alt="" class="responsive-img" />
                        </div>
                        <div class="col s">
                            <a href="">
                                <h6>
                                    <span class="center-align">Listado de Cobranzas</span>
                                </h6>
                            </a>
                            <span class="black-text">
                                Acceda al listado general de las cobranzas de cada cliente
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class="card-panel grey lighten-5 z-depth-1">
                    <div class="row valign-wrapper">
                        <div class="col s3">
                            <img src="images/PNG/nueva_cobranza.png" alt="" class="responsive-img" />
                        </div>
                        <div class="col s9">
                            <a href="">
                                <h6>
                                    <span class="center-align">Nueva Cobranza</span>
                                </h6>
                            </a>
                            <span class="black-text">
                                Cargue una nueva cobranza en efectivo o cheque en el sistema
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class="card-panel grey lighten-5 z-depth-1">
                    <div class="row valign-wrapper">
                        <div class="col s3">
                            <img src="images/PNG/importar_cobranzas.png" alt="" class="responsive-img" />
                        </div>
                        <div class="col s9">
                            <a href="">
                                <h6>
                                    <span class="center-align">Importar Cobranzas</span>
                                </h6>
                            </a>
                            <span class="black-text">
                                Importé las cobranzas recibidas en la cuenta corriente del
                                barrio
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--ROW #2-->
        <div class="row">
            <div class="col s4">
                <div class="card-panel grey lighten-5 z-depth-1">
                    <div class="row valign-wrapper">
                        <div class="col s3">
                            <img src="images/PNG/exportar_cobranzas.png" alt="" class="responsive-img" />
                        </div>
                        <div class="col s">
                            <a href="">
                                <h6>
                                    <span class="center-align">Exportar Cobranzas</span>
                                </h6>
                            </a>
                            <span class="black-text">
                                Exporte un listado de las cobranzas de un barrio
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class="card-panel grey lighten-5 z-depth-1">
                    <div class="row valign-wrapper">
                        <div class="col s3">
                            <img src="images/PNG/identificar_depositos.png" alt="" class="responsive-img" />
                        </div>
                        <div class="col s9">
                            <a href="">
                                <h6>
                                    <span class="center-align">Identificar Depositos</span>
                                </h6>
                            </a>
                            <span class="black-text">
                                Asocie una unidad funcional a una cobranza no identificada
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class="card-panel grey lighten-5 z-depth-1">
                    <div class="row valign-wrapper">
                        <div class="col s3">
                            <img src="images/PNG/emision_recibos.png" alt="" class="responsive-img" />
                        </div>
                        <div class="col s9">
                            <a href="">
                                <h6>
                                    <span class="center-align">Emisión de Recibos</span>
                                </h6>
                            </a>
                            <span class="black-text">
                                Genere el listado de todos los recibos de expensas para un
                                barrio
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--ROW #3-->
        <div class="row">
            <div class="col s4">
                <div class="card-panel grey lighten-5 z-depth-1">
                    <div class="row valign-wrapper">
                        <div class="col s3">
                            <img src="images/PNG/nota_credito.png" alt="" class="responsive-img" />
                        </div>
                        <div class="col s">
                            <a href="">
                                <h6>
                                    <span class="center-align">Nota de Crédito</span>
                                </h6>
                            </a>
                            <span class="black-text">
                                Genere una nota de crédito para clientes o proveedores
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class="card-panel grey lighten-5 z-depth-1">
                    <div class="row valign-wrapper">
                        <div class="col s3">
                            <img src="images/PNG/plazo_fijo.png" alt="" class="responsive-img" />
                        </div>
                        <div class="col s9">
                            <a href="">
                                <h6>
                                    <span class="center-align">Plazo Fijo</span>
                                </h6>
                            </a>
                            <span class="black-text">
                                Administre los plazos fijos y fondos de compensación de los
                                clientes
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include ("../partials/footer") %>