<li>
  <a class="subheader">Cobranzas</a>
</li>
<li>
  <a class="waves-effect" href="#!"
    ><i class="material-icons">list_alt</i>Listado</a
  >
</li>
<li>
  <a class="waves-effect" href="#!"
    ><i class="material-icons">add_box</i>Nueva</a
  >
</li>
<li>
  <a class="waves-effect" href="#!"
    ><i class="material-icons">cloud_upload</i>Importar</a
  >
</li>
<li>
  <a class="waves-effect" href="#!"
    ><i class="material-icons">cloud_download</i>Exportar</a
  >
</li>
<li>
  <div class="divider"></div>
</li>
<li>
  <a class="waves-effect" href="#!"
    ><i class="material-icons">pending</i>Ident. Depositos</a
  >
</li>
<li>
  <a class="waves-effect" href="#!"
    ><i class="material-icons">receipt_long</i>Emisión de Recibos</a
  >
</li>
<li>
  <div class="divider"></div>
</li>
<li><a class="subheader">Otras Opciones</a></li>
<li>
  <a class="waves-effect" href="#!"
    ><i class="material-icons">payment</i>Notas de Crédito</a
  >
</li>
<li>
  <a class="waves-effect" href="#!"
    ><i class="material-icons">trending_up</i>Plazos Fijos</a
  >
</li>
