<div id="modalNewSupplierCategory" class="modal">
    <form action="/suppliers/categories/new" method="post">
        <div class="modal-content">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">category</i>
                    <input id="category" name="category" value="" type="text" />
                    <label for="category">Rubro</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="modal-close waves-effect waves-green btn tile" type="submit" value="SUBMIT">Aceptar</button>
            <a class="modal-close waves-effect waves-red btn red"
                style="margin-left: 10px; margin-right: 20px;">Cancelar</a>
        </div>
    </form>
</div>