<%- include ("../../partials/header") %>

<main class="site-content">

    <form method="POST" action='/incomes/unidentifiedDeposits'>
        <%- include ("../../partials/clientsSelector") %>
    </form>

    <center>
        <%- include ("../../partials/alerts") %>
    </center>

</main>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        populateClients("clientsSelect");
    });
</script>

<%- include ("../../partials/footer") %>